@page "/Libros"
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage
<PageTitle>Libros</PageTitle>

<h1>Ingreso de libros </h1>

<EditForm Model="@libros" OnValidSubmit="@Guardar">

    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <label for="Titulo">Titulo: </label>
        <InputText id="Titulo" @bind-Value="libros.Titulo" class="form-control" />
        <ValidationMessage For="() => libros.Titulo" />
    </div>
    <div>
        <label for="Autor">Autor: </label>
        <InputText id="Autor" @bind-Value="libros.Autor" class="form-control" />
        <ValidationMessage For="() => libros.Autor" />
    </div>
    <div>
        <label for="Genero">Genero: </label>
        <InputText id="Genero" @bind-Value="libros.Genero" class="form-control" />
        <ValidationMessage For="() => libros.Genero" />
    </div>
    <div>
        <label for="AñoPublicacion">Año de Publicacion: </label>
        <InputText id="AñoPublicacion" @bind-Value="libros.AñoPublicacion" class="form-control" />
        <ValidationMessage For="() => libros.AñoPublicacion" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-danger">Guardar</button>
    </div>

</EditForm>




@if (listaLibros != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Genero</th>
                <th>Año de publicacion</th>
                <th>Editar</th>
                <th>Borrar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Revistas in listaLibros)
            {
                <tr>
                    <td>@Revistas.Titulo</td>
                    <td>@Revistas.Autor</td>
                    <td>@Revistas.Genero</td>
                    <td>@Revistas.AñoPublicacion</td>
                    <td><button class="btn btn-warning" @onclick="@(() => NavigationManager.NavigateTo($"/librosEditar/{Revistas.Autor}"))">editar</button></td>
                    <td><button class="btn btn-danger" @onclick="@(() => Borrar(Revistas.Autor))">Borrar</button></td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    ClaseLibro libros = new ClaseLibro();
    List<ClaseLibro> listaLibros = new List<ClaseLibro>();
    
    protected async Task Guardar()
    {
        
        listaLibros.Add(libros);
        libros = new ClaseLibro();

        await localStorage.SetItemAsync("listaLibros", listaLibros);
    }
    protected override async Task OnInitializedAsync()
    {
        listaLibros = await localStorage.GetItemAsync<List<ClaseLibro>>("listaLibro");

        if (listaLibros == null)
        {
            listaLibros =  new List<ClaseLibro>();
        }

    }
    protected async Task Borrar(string nombre)
    {
        listaLibros.Remove(listaLibros.First(c => c.Autor == nombre));
        await localStorage.SetItemAsync("listaLibrosElec", listaLibros);
    }

}

